
*{
    margin: 0;
}
.topline{
    width: 100%;
    height: 50%;
    position: absolute;
    display: inline-flex;
}

.tanklist{
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.formula{
    width: 50%;
    height: 100%;
    background-color: blue;

}
.dickbtn{
    width: 100%;
    height: 50%;
    background-color: red;
    position: absolute;
    bottom: 0;
}
